.widget .info {
    position: relative;
    width: 100%;
    height: 275px;
    background: #20649b;
}

@media only screen and (min-width: 600px) {
    .widget .info {
        float: left;
        width: 35%;
    }
}

.widget .info h4 {
    margin: 0 0 .35em;
    padding: 1em 1.5em;
    font-size: 1em;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
}

.widget .info .info-module {
    padding: 0 1.5em;
    font-weight: 400;
}

.widget .info .info-module .heading {
    font-size: .85em;
}

.widget .info .info-module .heading span:first-child {
    float: left;
}

.widget .info .info-module .heading span {
    display: inline-block;
    color: #fff;
}

.widget .info .info-module .heading span:nth-child(2) {
    float: right;
}

.widget .info .info-module .progress {
    height: 5px;
    margin: .35em 0 1em;
    background: #0f3d77;
    border-radius: 10px;
}

.widget .info .info-module .progress:after {
    content: "";
    display: block;
    height: 100%;
    background: #45b0e6;
    border-radius: 5px;
}

.widget .info nav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.widget .info nav a {
    display: block;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
    color: #fff;
}

.widget .info nav span:first-child {
    float: left;
    width: 75%;
    background: #49b4e8;
}

.widget .info nav span:nth-child(2) {
    float: left;
    width: 25%;
    line-height: 50px;
    background: #3099dd;
}

.info-active {
    height: 5px;
    background-color: #45b0e6;
    border-radius: 10px;
}

.info-bg {
    height: 5px;
    background-color: #0f3d77;
    margin: .35em 0 1em;
    border-radius: 10px;
}