.widget{
    .chart {
        width: 65%;
        background: #fff;
        position: relative;
        display: flex;
        flex-direction: column;
        .controls{
            height: 3.125rem;
            border-bottom: 0.0625rem solid #ccc;
            nav{
                float: left;
                width: 75%;
                line-height: 3.125rem;
                border-right: 0.0625rem solid #ccc;
                a {
                    display: block;
                    text-decoration: none;
                    color: #154c88;
                    font-size: 1.25rem;
                    font-weight: 600;
                    padding: 0 1.5em;
                }
            }
            div {
                line-height: 3.125rem;
                text-align: center;
                span:first-child {
                    color: #7dd343;
                    font-size: 1.25rem;
                    font-weight: 600;
                }
            }
        } 
    }
    .info .info-module .heading::after {
        clear: both;
        content: "";
        display: table;
    }
}

@media only screen and (min-width: 600px) {
    .widget .chart .controls nav a {
        padding: 0 1em;
    }
}
