.table {
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    height: 100%;
    width: 100%;

    thead tr {
        border-bottom-width: .1rem!important;
        height: 3.125rem;
    }
    tr {
        border-bottom: .05rem solid #dadee4;
        min-height: 2.5rem;
        width: 100%;
        display: flex;
        flex: 1;
        &:last-of-type {
            border-width: 0;
        }
    }
    tbody {
        height: 10.9375rem;
        overflow: auto;
        display: block;
        flex-direction: column;
    }
    td, th {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
}

.table.table-striped tbody tr:nth-of-type(odd) {
    background: #f7f8f9;
}

.widget .chart .canvas-container .canvas {
    width: 100%;
    height: 100%;
    display: inline-block;
}
